# <center>  EDA </br>
#  <center> -- Analisis Exploratorio de los datos --</center>
## Se analiza las variables, sus comportamientos y relaciones

_____________

### <center>Importar Librerias</center>

In [2]:
import numpy as np
import pandas as pd
#import funciones
import os
import folium
# Se importan las librerias para el proyecto
import geopandas as gpd
from shapely.wkt import loads
from shapely.geometry import Point
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

_________________

### <center>Extracción de datos</center>

In [5]:
#Se pasa dirección del archivo
archivo = os.path.join('..', 'CSV', 'lesiones.csv')

#Se extraen 
df_lesiones = pd.read_csv(archivo)

______________

In [6]:
df_lesiones

,ID,FECHA,AÑO,MES,DIA,HORA,COMUNA,LONGITUD,LATITUD,TIPO_CALLE,ACUSADO,VICTIMA,CANT_VICTIMA
0,LC-2019-0000053,2019-01-01,2019,1,1,1,8,-58.44351,-34.669125,SD,SD,sd,1.0
1,LC-2019-0000063,2019-01-01,2019,1,1,2,8,-58.468335,-34.677556,SD,SD,sd,1.0
2,LC-2019-0000079,2019-01-01,2019,1,1,2,7,-58.437425,-34.647349,SD,SD,sd,1.0
3,LC-2019-0000082,2019-01-01,2019,1,1,4,3,-58.398225,-34.604579,SD,SD,sd,4.0
4,LC-2019-0000082,2019-01-01,2019,1,1,4,3,-58.398225,-34.604579,SD,SD,sd,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27585,LC-2021-0451911,2021-09-11,2021,9,11,18,14,-58.420119387377,-34.581370448309,AVENIDA,TRANSPORTE PUBLICO,TRANSPORTE PUBLICO,1.0
27586,LC-2021-0530228,2021-10-25,2021,10,25,12,14,-58.406897,-34.581142,SD,TRANSPORTE PUBLICO,TRANSPORTE PUBLICO,2.0
27587,LC-2021-0530228,2021-10-25,2021,10,25,12,14,-58.406897,-34.581142,SD,TRANSPORTE PUBLICO,TRANSPORTE PUBLICO,2.0
27588,LC-2021-0201378,2021-05-02,2021,5,2,0,SD,SD,SD,SD,OBJETO FIJO,MOTO,1.0
27589,LC-2021-0229350,2021-05-19,2021,5,19,0,SD,SD,SD,SD,AUTO,MOTO,1.0

In [9]:
df_lesiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27590 entries, 0 to 27589
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            27590 non-null  object
 1   FECHA         27590 non-null  object
 2   AÑO           27590 non-null  int64
 3   MES           27590 non-null  int64
 4   DIA           27590 non-null  int64
 5   HORA          27590 non-null  int64
 6   COMUNA        27414 non-null  object
 7   LONGITUD      27322 non-null  object
 8   LATITUD       27322 non-null  object
 9   TIPO_CALLE    27590 non-null  object
 10  ACUSADO       27590 non-null  object
 11  VICTIMA       27590 non-null  object
 12  CANT_VICTIMA  27590 non-null  float64
dtypes: float64(1), int64(4), object(8)
memory usage: 2.7+ MB

In [10]:
df_lesiones['CANT_VICTIMA'].sum()

39250.0